<div class="container">
<div class="row justify-content-center">
<h1 clas="mt-4 mb-4 display-4"><%= @employee.name%>'s Details</h1></div>
<br>
<p><h4>Employee id: <%= @employee.emp_id%></h4></p>
<p><h4>Company id: <%= @employee.company_id%></h4></p>
<p><h4>Status: <%= @employee.status%></h4></p>
</div>
<br>
<div class="row justify-content-center"><h2>Tech Stack</h2></div>
<br>
<div class="row justify-content-center">
<%= button_to "Choose your techskills",new_firm_path, method: :get , class:"btn btn-dark"%><br></div>
<br>
<div class="row justify-content-center">
<table class="table table-bordered">
<thead>
<tr>
<th scope="col" style="text-align: center">Techskill</th>
<th scope="col" style="text-align: center">Action</th>
</tr>
</thead>
<tbody>
<% @employee.techskills.each do |firm|%>
<tr>
<td style="text-align: center"><%= firm.name %></td>
<td style="text-align: center"><%=button_to "Delete",firm_path(firm),method: :delete , class:"btn btn-dark"%></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div class="row justify-content-center">
<%= button_to "Edit Employee",edit_employee_path,method: :get , class:"btn btn-dark"%></div><br>
<div class="row justify-content-center">
<%= button_to "Destroy Employee",employee_path,method: :delete , class:"btn btn-dark"%></div><br>
<div class="row justify-content-center">
<%= link_to "Go back",root_path%></div>
</div>
